*{
    box-sizing: border-box;
}

body {
    background-color: #ADD8E6;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
}
.pv-logo {
    margin: 35px;
    height: 42px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    color: #3a3640;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
    min-width: 29vw;
    background-color: white;
    border-radius: 20px 20px 20px 2px;
    text-align: left;
}

.head-info {
    margin-top: 15px;
    
}

#opening {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 45, 160);
    text-align: center; 
}


form {
    margin: 0px 40px 40px 40px;
    overflow-y: hidden;
}

#divform {
    margin: 30px 0px 0px 0px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0px 0px 0px;
    background-color: #f1f1f1f3;
    border: slategrey;
    border-radius: 4px;
}

select {
    width: 100%;
    border: 1px solid rgb(73, 141, 172);
    border-radius: 10px;
    padding: 20px 15px;
    background-color: #f1f1f1; 
    overflow-y: scroll;
    position: inherit;
    display: inline;
}

option{
    overflow-y: scroll;
    background: white;
    color: black;
    right:5px;
    top:50%;
    display:block;
    width:35px;
    height:35px;
    line-height:40px;
    font-size: 1.5em;
    border:3px solid #ccc;
}



#subPARA {
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 18px;
}

.log-link {
    color: #193883;
    margin: 40px 0px 40px 0px;
    text-align: center;
}
